:root {
  --custom-font-headers: "Posterama 2001 W04 Regular";
  --custom-font-text: "Apercu Regular";
  background-color: #fdfdfd;
  color: #45474A;
}

/* .searchResults {
  border: 2px solid black;
  padding: 0 1.25rem 2rem;
  box-sizing: border-box;
} */
